boby {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.header_area {background-image: url(images/header_bg.jpg);  
    min-height: 804px;}
.header {margin-top: 85px}
.main_menu {margin-top: 10px}
.main_menu ul{margin:0;  padding:0; 
    list-style-type: none; }
.main_menu ul li{ display: inline-block;
    padding: 10px} 
.main_menu ul li a{ color:white;  }
.main_menu ul li a:hover{color: blue;
    text-decoration: none; }
.header_right{ }
.header_right p{color: #0000 ;
    text-transform: uppercase; 
    background-image: url(images/plus.png);
    background-repeat: no-repeat;background-position: right top;padding: 15px; }


.welcome_text {margin-top: 20px; margin-bottom:  20px; border-bottom: 8px solid #E8E8E8;
overflow: hidden}
.welcome_text h2, .home_button h2, .tabh3 {color: #272630;
    text-transform: uppercase; font-size: 20px;font-weight: 700}
.welcome_text h2 span, .home_button h2 span, .tabh3 span { color: #F26C4F; }
.welcome_text p, .home_button p {color: #363636;}
.welcome_text img {}
.welcome_text img.welcome_graph {float: right}

.single-service {text-align: center; margin: 20px 0}
.single-service h2{font-size: 20px;text-transform: uppercase;color: #272630;font-weight: 700; }
.single-service p{}
.single-service img{border-radius: 50%}


.big_border {height: 15px; width: 100%; background: #e8e8e8;margin: 20px 0}
.small_border {height: 10px; width: 100%; background: #e8e8e8;margin: 20px 0}

.tab-right-img {float: right; margin-left: 20px; }


.features_tab ul {border-left: 1px solid #B8BBC1; border-bottom: 3px solid #b8bbc1;}
.features_tab ul li{border-radius: 0}

.features_tab ul li a, .features_tab ul li a:hover, .features_tab ul li a:focus {font-weight: 700; font-size: 16px; color: #898989; text-transform: uppercase;border-right: 1px solid #b8bbc1 ; border-top: 1px solid #c6c9cd; border-radius: 0; );background-image: url(images/tab-general-link-bg.jpg); padding: 20px 30px}

.features_tab ul li.active a{ background-image: url(images/tab-link-bg.jpg);color: #000;border-right: 7px solid #b8bbc1}


.features_tab .tab-content{border-bottom: 1px solid #B8BBC1; border-left: 1px solid #B8BBC1; border-left: 1px solid #B8BBC1; padding: 50px;background-image: url(images/tab_bg.jpg); overflow:hidden;}

.footer_area {background-image: url(images/Pump.png);color: #fff}

.footer-info h1 {font-weight: 700; text-transform: uppercase}

.footer_menu {margin-top: 60px}

.footer_menu h4 {text-transform: uppercase;font-weight: 700; margin-left: 38px}

.footer_menu ul {}
.footer_menu ul li{list-style: none}
.footer_menu ul li a{color: #FFFFDA;}